<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mobidev"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="13" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:logo="@drawable/logo">
        <activity android:name="com.mobidev.GetStartedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  Entry for Activity.class -->
        <activity android:name="com.mobidev.ScheduleEventActivity"></activity>
        <activity android:name="com.mobidev.SendInvitationActivity"></activity>
        <activity android:name="com.mobidev.SelectDateTimeActivity"></activity>
        <activity android:name="com.mobidev.PollActivity"></activity>
        <activity android:name="com.mobidev.Event_Main"></activity>

    </application>
</manifest>